<div class="search-card">
<div class="search-all-dino">
<%= form_tag dinosaurs_path, method: :get do %>

  <%= text_field_tag :query,
    params[:query],
    class: "search-location-dino form-control",
    placeholder: "🔎 Location"
  %>
  <%= submit_tag "Search", class: "btn-dino mt-3 rounded-lg" %>
<% end %>
</div>
</div>

<div class="">
  <div class="d-flex p-0">
    <div class="container bg-white">
        <% @dinosaurs.each  do |dino| %>
          <%= link_to dinosaur_path(dino.id) do %>
            <%= render 'shared/card_dino', dino: dino %>
          <% end %>
        <% end %>
    </div>
    <div
      id="map"
      style="width: 100%;
      height: 600px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
      class="container bg-primary"
    ></div>
  </div>
</div>



<!-- PRICE FILTER -->
<%#= text_field_tag :min_price, params[:min_price],
    class: "search-location-dino form-control",
    placeholder: "Min Price"
  %>

  <%#= text_field_tag :max_price, params[:max_price],
    class: "search-location-dino form-control",
    placeholder: "Max Price"
  %>
