<div>
  <div>
    <h1> <%= @dinosaur.name  %></h1>
    <p> <%= @dinosaur.location  %></p>
  </div>

  <div>
    <h2> Details: </h2>
    <p> Species: <%=  @dinosaur.species %></p>
    <p> Age: <%=  @dinosaur.age %></p>
    <p> Gender: <%=  @dinosaur.gender %></p>
    <p> Favourite Food: <%=  @dinosaur.food %></p>
    <p> Habits: <%=  @dinosaur.habits %></p>
  </div>

  <div>
    <h2> Description: </h2>
    <p> <%= @dinosaur.description %> </p>
  </div>

  <div>
    <h2> Availability: </h2>
  </div>

  <div>
    <h2> Reviews: </h2>
  </div>
</div>
