<div class="container" mt-5>
  <div>
    <p><%= cl_image_tag @dinosaur.photo, height: 300, width: 1000, crop: :fit %></p>
    <h1> <%= @dinosaur.name %></h1>
    <p> <%= @dinosaur.location  %></p>
  </div>
  <div class="row">
    <div class="col-lg-6 col-sm-12">
      <div class="card my-2">
        <h2> Details: </h2>
        <p> Species: <%= @dinosaur.species %></p>
        <p> Age: <%= @dinosaur.age %></p>
        <p> Gender: <%= @dinosaur.gender %></p>
        <p> Favourite Food: <%= @dinosaur.food %></p>
        <p> Habits: <%= @dinosaur.habits %></p>
      </div>

      <div class="card my-2">
        <h2> Description: </h2>
        <p> <%= @dinosaur.policy %> </p>
      </div>
    </div>
    <div class="col-lg-6 col-sm-12">
      <div class="card my-2 bg-primary h-100">
        <h1>Here should be a form</h1>
      </div>
    </div>
  </div>

  <!-- <div>
    <h2> Availability: </h2>
  </div> -->

<!--   <div>
    <h2> Reviews: </h2>
  </div> -->

<p>
  <%= link_to "List all", dinosaurs_path %>
  <% if policy(@dinosaur).edit? %>
    | <%= link_to "Edit", edit_dinosaur_path %>
  <% end %>
  <% if policy(@dinosaur).destroy? %>
     | <%= link_to "Delete", dinosaur_path(@dinosaur.id), method: :delete %>
  <% end %>
  <% if current_user != @dinosaur.user %>
  | <%= link_to "Book it now", new_dinosaur_booking_path(@dinosaur) %>
  <% end %>
</p>


</div>

