<div class="profile-position">
  <div class="container-avatar">
    <div class="d-justify-content-center">
      <div class="row">
        <div class="flex-item col-6 profile-info">
          <div> <%= image_tag 'dinohost.jpg', class: "avatar-account" %> </div>
          <div> <%= link_to "Update photo", edit_user_registration_path  %> </div>
        </div>

        <div class="flex-item col-6 profile-description">
          <h1>Hello, I am <%= current_user.name %>! </h1>
          <p> <%= link_to "Edit profile", edit_user_registration_path  %></p>
          <h4>Account details</h4>
          <p> Username: <%= current_user.name %> </p>
          <p> Email: <%= current_user.email %> </p>
          <div> <%= link_to "Reviews", edit_user_registration_path %> </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container bg-gray">
  <h1>Bookings</h1>
  <% current_user.bookings.each do |booking| %>
  <%= render 'shared/bookingcard', booking: booking %>
  <% end %>
</div>

<div class="container">
  <h1>Your Dinos</h1>
  <% @dinosaurs.each do |d| %>
  <% if d.user_id == current_user.id %>
  <%= link_to d.name, dinosaur_path(d.id) %>
  <% end %>
  <% end%>
</div>

