<h1>Hello, <%= current_user.name %>! </h1>

<h2>Account details</h2>

<p> Username: <%= current_user.name %> </p>

<p> Email: <%= current_user.email %> </p>

<p> Picture: <%= image_tag 'dinohost.jpg', class:"img-thumbnail" %> </p>

<p> <%= link_to "Edit your details", edit_user_registration_path  %></p>

