<div class="profile-style">
  <div class="container-avatar">
    <div class="d-justify-content-center">
      <div class="row">
        <div class="flex-item col-6 profil-info">
          <div> <%= image_tag 'dinohost.jpg', class: "avatar-large" %> </div>
          <p> <%= link_to "Update photo", edit_user_registration_path  %></p>
        </div>

        <div class="flex-item col-6">
          <h1>Hello, I am <%= current_user.name %>! </h1>
          <p> <%= link_to "Edit profile", edit_user_registration_path  %></p>

          <h4>Account details</h4>

          <p> Username: <%= current_user.name %> </p>

          <p> Email: <%= current_user.email %> </p>
        </div>
      </div>
    </div>
  </div>
</div>



